<div class="main">


  <div class="img">
<img src="../../../assets/images/fitness.png" alt="" >
  </div>

  <div class="categorie">
    <div class="contente ">
     <p class="chape revel-1">SHAPE YOUR BODY</p>
     <p class="what revel-2">WHAT WE DO?</p>
    </div>
    <div class="element revel-1">

      <div class="icon">
        <mat-icon>fitness_center</mat-icon>
      </div>
      <div class="paragraph">
        <p class="title">ANALYZE YOUR GOAL</p>
        <p class="stitle">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
      </div>
    </div>


    <div class="element  revel-2">

      <div class="icon">
        <mat-icon> directions_run</mat-icon>
      </div>
      <div class="paragraph">
        <p class="title">WORK HARD ON IT</p>
        <p class="stitle">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
      </div>
    </div>

    <div class="element  revel-3" >

      <div class="icon">
        <mat-icon>fitness_center</mat-icon>
      </div>
      <div class="paragraph">
        <p class="title">IMPROVE YOUR PERFORMANCE</p>
        <p class="stitle">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
      </div>
    </div>

        <div class="element  revel-4">

      <div class="icon">
        <mat-icon> disc_full</mat-icon>
      </div>
      <div class="paragraph">
        <p class="title">ACHIEVE YOUR PERFECT BODY</p>
        <p class="stitle">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
      </div>
    </div>

  </div>


</div>



<div class="nouveauter ">
<div class="ligne ">
<p class="title1 revel-1">{{counter}}</p>
<p class="title2">happy customer</p>
</div>

<div class="ligne ">
  <p class="title1 revel-2">{{counter1}}</p>
  <p class="title2">Perfect Bodies</p>
  </div>

  <div class="ligne ">
    <p class="title1 revel-3">{{counter2}}</p>
    <p class="title2">PWorking Hours</p>
    </div>

    <div class="ligne ">
      <p class="title1 revel-4">{{counter3}}</p>
      <p class="title2">Success Stories</p>
      </div>
</div>


<div class="classes">
  <div class="title-classe">
  <p class="gym revel-1">GYM CLASSES</p>
  <p class="workout revel-2">WORKOUT CLASSES</p>
</div>

<div class="imges">
  <div class="img1 revel-1">
  <div class="simage">
  <img  src="../../../assets/images/aerobic.jpg" alt="" >
  <a [routerLink]=""><div class="detail">
    <h3>Voir Détail</h3>
  </div></a>
</div>


  <p class="btitle">AEROBIC CLASSES</p>
  <p class="bstitle">A small river named Duden flows by their place and supplies it with the necessary regelialia</p>

</div>


<div class="img1 revel-2">
  <div class="simage">
  <img  src="../../../assets/images/gym.jpg" alt="" >
  <a [routerLink]=""><div class="detail">
    <h3>Voir Détail</h3>
  </div></a>
</div>


  <p class="btitle">BODY BUILDING</p>
  <p class="bstitle">A small river named Duden flows by their place and supplies it with the necessary regelialia</p>

</div>

<div class="img1 revel-3">
  <div class="simage">
  <img  src="../../../assets/images/yoga.jpg" alt="" >
  <a [routerLink]=""><div class="detail">
    <h3>Voir Détail</h3>
  </div></a>
</div>


  <p class="btitle">YOGA CLASSES</p>
  <p class="bstitle">A small river named Duden flows by their place and supplies it with the necessary regelialia</p>

</div>

<div class="img1 revel-4">
  <div class="simage">
  <img  src="../../../assets/images/fitnes.jpg" alt="" >
 <a [routerLink]=""><div class="detail">
    <h3>Voir Détail</h3>
  </div></a>
</div>



  <p class="btitle">WEIGHT LIFTING</p>
  <p class="bstitle">A small river named Duden flows by their place and supplies it with the necessary regelialia</p>
</div>
</div>


<a [routerLink]="['todo']">
<div class="button revel-1">
  <p class="plus">PLUS DE PROGRAMMES</p>
  <div class="flech"></div>
</div>
</a>
</div>

